.my_label {
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}

/* .dataTables_length {
    float: right !important;
    margin-top: 10px !important;
}
*/

.dataTables_filter {
    margin-top: -35px;
    margin-right: 5px;
} 


