{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {% if department %}
            <h6 class="m-0 font-weight-bold text-primary">Edit Professor</h6>
            <a href="{% url 'department-detail' department.id %}" class="my_label">Detail</a>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Create Professor</h6>
            <a href="{% url 'department-list' %}" class="my_label">List</a>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {# {{ form|crispy }} #}
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.id_document | as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.department | as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.birth_date | as_crispy_field }}
                </div>
                <div class="form-group col-md-4">
                    {{ form.gender | as_crispy_field }}
                </div>
                <div class="form-group col-md-4" style="margin-top: 2.5em">
                    {{ form.is_active | as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        console.log('Hola');
        $('.dateinput').datepicker({ format: "yyyy-mm-dd" });
    });
</script>
{% endblock custom_js %}
