{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pensum: {{object.name}}</h6>
        {% if not prev_item == None %}
        <span>
            <a href="{% url 'pensum-detail' prev_item %}" class="my_label">Prev</a> |
            <a href="{% url 'pensum-detail' next_item %}" class="my_label">Next</a>
        </span>
        {% else %}
        <a href="#" class="my_label" id="go-back">Go back!</a>
        {% endif %}
        <span>
            <a href="{% url 'pensum-list' %}" class="my_label">List</a> |
            <a href="{% url 'pensum-update' object.id %}" class="my_label">Edit</a>
        </span>
    </div>
    {% csrf_token %}
    <div class="card-body">
        <div class="table-responsive">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <table class="table" width="80%" cellspacing="0">
                <form class="d-flex align-items-center" method="POST">
                    {% csrf_token %}
                    <tbody>
                        <tr>
                            <td style="width: 20%">
                                {{form.asignature | as_crispy_field }}
                            </td>
                            <td style="width: 20%">
                                {{form.semester | as_crispy_field }}
                            </td>
                            <td style="width: 20%" class="text-center">
                                {{form.prelated_by | as_crispy_field }}
                            </td>
                            <td style="width: 20%">
                                {{form.credits | as_crispy_field }}
                            </td>
                            <td style="width: 20%" class="text-center">
                                <button type="submit" class="btn btn-sm btn-success mt-1">Add Pesum Detail</button>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
        <div class="table-responsive" style="margin-top: -2em;">
            <table class="table" style="font-size: 14.5px" width="80%" cellspacing="0">
                <thead>
                    <th>Code</th>
                    <th>Asignature</th>
                    <th class="text-center">Prelated By</th>
                    <th class="text-center">Credits</th>
                </thead>
                <tbody>
                    {% for semester in semesters %}
                        {% if semester.1 != 'SEMESTER' %}
                            <tr style="height: .3em;">
                                <td colspan="4" 
                                    style="font-weight: bold; text-align: center; background-color: #CCC">
                                    {{semester.1}} SEMESTER
                                </td>
                            </tr>
                            {% for detail in object.details.all %}
                                {% if detail.semester == semester.0 %}
                                    <tr>
                                        <td>{{detail.asignature.code}}</td>
                                        <td>{{detail.asignature.name}}</td>
                                        <td class="text-center">{{detail.prelated_by}}</td>
                                        <td class="text-center">{{detail.credits}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}