{% extends 'layouts/base.html' %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pensum: {{object.name}}</h6>
        {% if not prev_item == None %}
        <span>
            <a href="{% url 'pensum-detail' prev_item %}" class="my_label">Prev</a> |
            <a href="{% url 'pensum-detail' next_item %}" class="my_label">Next</a>
        </span>
        {% else %}
        <a href="#" class="my_label" id="go-back">Go back!</a>
        {% endif %}
        <span>
            <a href="{% url 'pensum-list' %}" class="my_label">List</a> |
            <a href="{% url 'pensum-update' object.id %}" class="my_label">Edit</a>
        </span>
    </div>
    {% csrf_token %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" width="80%" cellspacing="0">
                <form class="d-flex align-items-center" method="POST">
                    {% csrf_token %}
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <input type="text" name="code" 
                                    class="form-control" 
                                    placeholder="Asignature code" />
                            </td>
                            <td>
                                <input type="text" name="semester" 
                                    class="form-control" 
                                    placeholder="Semester" />
                            </td>
                            <td>
                                <input type="text" name="prelated_by" 
                                    class="form-control" 
                                    placeholder="Prelated By" />
                            </td>
                            <td>
                                <input type="text" name="credits" 
                                    class="form-control" 
                                    placeholder="Credits" />
                            </td>
                            <td> 
                                <button type="submit" class="btn btn-sm btn-success">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
        <div id="detail-list">
            <div class="table-responsive">
                <table class="table" style="font-size: 14.5px" width="80%" cellspacing="0">
                    <thead>
                        <th>Code</th>
                        <th>Asignature</th>
                        <th>Prelated By</th>
                        <th class="text-center">Credits</th>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                            <tr>
                                <td colspan="4" 
                                    style="font-weight: bold; text-align: center; background-color: #CCC">
                                    {{semester.1}} SEMESTER
                                </td>
                            </tr>
                            {% for detail in object.details.all %}
                                {% if detail.semester == semester.0 %}
                                    <tr>
                                        <td>{{detail.asignature.code}}</td>
                                        <td>{{detail.asignature.name}}</td>
                                        <td>{{detail.prelated_by}}</td>
                                        <td class="text-center">{{detail.credits}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}