{% extends 'layouts/base.html' %}

{% load static %}

{% block datatables_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock datatables_css %}

{% block custom_js %}
    {% include 'partials/delete_record.html' %}
{% endblock custom_js %}


{% block content %}
    
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Schools</h6>
            <a href="{% url 'school-create' %}" class="my_label">New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-sm custom_table" 
                    id="dataTable" 
                    cellspacing="0"
                    width="100%"
                    style="font-size: 15px">
                    <thead class="table-success">
                        <tr>
                            <th>Name</th>
                            <th>Faculty</th>
                            <th class="text-center">Depts Qty</th>
                            <th class="text-center">Created At</th>
                            <th class="text-center">Updated At</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school in object_list %}
                        <tr>
                            <td>{{school.link|safe}}</td>
                            <td>{{ school.faculty.link|safe }}</td>
                            <td class="text-center">{{school.department_qty}}</td>
                            <td class="text-center">{{school.created_at | date:"d/m/Y H:i"}}</td>
                            <td class="text-center">{{school.updated_at | date:"d/m/Y H:i"}}</td>
                            <td class="text-center">
                                <a href="{% url 'school-update' school.id %}" class="btn btn-sm btn-outline-info">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" onclick="{{school.delete_record_string}}" class="btn btn-sm btn-outline-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}

{% block datatables_js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock datatables_js %}

