{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {% if school %}
            <h6 class="m-0 font-weight-bold text-primary">Edit School</h6>
            <a href="{% url 'school-detail' school.id %}" class="my_label">Detail</a>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Create School</h6>
            <a href="{% url 'school-list' %}" class="my_label">List</a>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Save</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}