{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Delete School</h6>
        <a href="{% url 'school-detail' school.id %}" class="my_label">Back</a>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <h5>Are you sure you want to delete this School: {{ object.name}} !?</h5>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
                <a href="{% url 'school-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}