{% extends 'layouts/base.html' %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Asignature</h6>
        {% if not prev_item == None %}        
            <span>
                <a href="{% url 'asignature-detail' prev_item %}" class="my_label">Prev</a> |
                <a href="{% url 'asignature-detail' next_item %}" class="my_label">Next</a>
            </span>
        {% else %}
            <a href="#" class="my_label" id="go-back">Go back!</a>
        {% endif %}
        <span>
            <a href="{% url 'asignature-list' %}" class="my_label">List</a> | 
            <a href="{% url 'asignature-update' asignature.id %}" class="my_label">Edit</a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" width="80%" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="my_label" style="width: 20%">Code</td>
                        <td>{{object.code}}</td>
                    </tr>
                    <tr>
                        <td class="my_label" style="width: 20%">Name</td>
                        <td>{{object.name}}</td>
                    </tr>
                    <tr>
                        <td class="my_label" style="width: 20%">Type</td>
                        <td>{{object.asignature_type}}</td>
                    </tr>
                    <tr>
                        <td class="my_label" style="width: 20%">Is Active ?</td>
                        <td>{{object.is_active}}</td>
                    </tr>
                    <tr>
                        <td class="my_label" style="width: 20%">Is Exempted Interships ?</td>
                        <td>{{object.is_exempted_interships}}</td>
                    </tr>
                    <tr>
                        <td class="my_label" style="width: 20%">Department</td>
                        <td>{{object.department.link|safe}}</td>
                    </tr>
                    <tr>
                        <td class="my_label">Created At</td>
                        <td>{{object.created_at | date:"d/m/Y H:i"}} ({{object.created_by}})</td>
                    </tr>
                    <tr>
                        <td class="my_label">Updated At</td>
                        <td>{{object.updated_at | date:"d/m/Y H:i"}} ({{object.updated_by}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}