{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {% if asignature %}
            <h6 class="m-0 font-weight-bold text-primary">Edit Asignature</h6>
            <a href="{% url 'asignature-detail' asignature.id %}" class="my_label">Detail</a>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Create Asignature</h6>
            <a href="{% url 'asignature-list' %}" class="my_label">List</a>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.name | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.asignature_type | as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3" style="margin-top: 30px">
                    {{ form.is_active | as_crispy_field }}
                </div>
                <div class="form-group col-md-3" style="margin-top: 30px">
                    {{ form.is_exempted_interships | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.department | as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
    });
</script>
{% endblock custom_js %}
