{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        {% if department %}
            <h6 class="m-0 font-weight-bold text-primary">Edit Departament</h6>
            <a href="{% url 'department-detail' department.id %}" class="my_label">Detail</a>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Create Departament</h6>
            <a href="{% url 'department-list' %}" class="my_label">List</a>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Save</button>
                {% if department %}
                    <a href="{% url 'department-delete' department.id %}" class="btn btn-outline-danger ml-2">Delete</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>


{% endblock content %}