{% extends 'layouts/base.html' %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Departament</h6>
        {% if not prev_item == None %}
            <span>
                <a href="{% url 'department-detail' prev_item %}" class="my_label">Prev</a> |
                <a href="{% url 'department-detail' next_item %}" class="my_label">Next</a>
            </span>
        {% else %}
            <a href="#" class="my_label" id="go-back">Go back!</a>
        {% endif %}
        <span>
            <a href="{% url 'department-list' %}" class="my_label">List</a> | 
            <a href="{% url 'department-update' department.id %}" class="my_label">Edit</a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" width="80%" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="my_label" style="width: 4%">Name:</td>
                        <td>
                            <span style="color:black">{{department.name}}</span>&nbsp;&nbsp;[
                            <b>School:</b> {{department.school.link|safe }} |
                            <b>Created:</b> {{department.created_at|date:"d/m/Y H:i"}} ({{department.created_by}}) |
                            <b>Updated:</b> {{department.updated_at|date:"d/m/Y H:i"}} ({{department.updated_by}})
                            ]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-5">

                <div class="mt-2">
                    <div class="row">
                        <div class="col-10">
                            {% if feedback_prof.errors %}
                            {% for error in feedback_prof.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <form class="d-flex align-items-center" method="POST">
                                {% csrf_token %}
                                <input type="text" name="name" class="form-control" Placeholder="Name"
                                    style="text-transform: capitalize; width: 55%" maxlength="100" minlength="3" required>
                                <input type="text" name="id_documento" class="form-control ml-1" Placeholder="Id Doc."
                                    style="text-transform: capitalize; width: 25%" maxlength="100" minlength="3" required>
                                <button type="submit" class="btn btn-sm btn-success" 
                                    style="margin-top: .1em; margin-left: .2em">
                                    Add Prof.
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="text-center table-success" style="border-radius: 3px; padding: 2px">
                    <span class="text-primary my_label">Professors</span>
                </div>
                <div class="table-responsive">
                    <table class="table" width="80%" cellspacing="0">
                        <thead>
                            <th style="width: 55%">Name</th>
                            <th style="width: 20%">Doc Id</th>
                        </thead>
                        <tbody>
                            {% for professor in professor_list %}
                            <tr>
                                <td>{{professor.link|safe}}</td>
                                <td>{{professor.id_document}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7">

                <div class="mt-2">
                    <div class="row">
                        <div class="col-10">
                            {% if feedback_asig.errors %}
                            {% for error in feedback_asig.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <form class="d-flex align-items-center" method="POST">
                                {% csrf_token %}
                                <input type="number" name="code" class="form-control" Placeholder="Code"
                                    style="text-transform: capitalize; width: 15%" maxlength="4" minlength="4" required>
                                <input type="text" name="name" class="form-control" Placeholder="Name"
                                    style="text-transform: capitalize; width: 50%" maxlength="100" minlength="3" required>
                                <input type="text" name="type" class="form-control ml-1" Placeholder="Type"
                                    style="text-transform: capitalize; width: 20%" maxlength="100" minlength="3" required>
                                <button type="submit" class="btn btn-sm btn-success" style="margin-top: .1em; margin-left: .2em">
                                    Add Asig.
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="text-center table-success" style="border-radius: 3px; padding: 2px">
                    <span class="text-primary my_label">Asignatures</span>
                </div>
                <div class="table-responsive">
                    <table class="table" width="80%" cellspacing="0">
                        <thead>
                            <th style="width: 15%">Code</th>
                            <th style="width: 50%">Name</th>
                            <th style="width: 20%">Type</th>
                        </thead>
                        <tbody>
                            {% for asignature in asignature_list %}
                            <tr>
                                <td>{{asignature.link|safe}}</td>
                                <td>{{asignature.name}}</td>
                                <td>{{asignature.asignature_type}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>


{% endblock content %}